In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split
import joblib

In [23]:
df = pd.read_csv('data/Cyber_security.csv')
df

         Country        Region    CEI    GCI   NCSI    DDL
0    Afghanistan  Asia-Pasific  1.000   5.20  11.69  19.50
1        Albania        Europe  0.566  64.32  62.34  48.74
2        Algeria        Africa  0.721  33.95  33.77  42.81
3        Andorra        Europe    NaN  26.38    NaN    NaN
4         Angola        Africa    NaN  12.99   9.09  22.69
..           ...           ...    ...    ...    ...    ...
187    Venezuela        Africa  0.807  27.06  28.57  43.14
188      Vietnam  Asia-Pasific    NaN  94.59  36.36  47.69
189        Yemen  Asia-Pasific    NaN    NaN   7.79    NaN
190       Zambia        Africa  0.745  68.88  55.84  29.66
191     Zimbabwe        Africa  0.724  36.49  15.58  28.97

[192 rows x 6 columns]

CEI = 사이버 보안 노출지수, GCI= 글로벌 사이버 보안지수, NCSI = 국가 사이버 보안지수 , DDL = 디지털 개발수준

In [33]:
df2 = pd.read_csv('data/countries-of-the-world.csv')
df2 = df2.drop('Region', axis=1)
df2

,Country,Population,Area (sq. mi.),Pop. Density (per sq. mi.),GDP ($ per capita),Agriculture,Phones (per 1000),Birthrate,Deathrate
0,Afghanistan,31056997,647500,"48,0",700.0,"36,0","3,2","46,6","20,34"
1,Albania,3581655,28748,"124,6",4500.0,"86,5","71,2","15,11","5,22"
2,Algeria,32930091,2381740,"13,8",6000.0,"70,0","78,1","17,14","4,61"
3,American Samoa,57794,199,"290,4",8000.0,"97,0","259,5","22,46","3,27"
4,Andorra,71201,468,"152,1",19000.0,"100,0","497,2","8,71","6,25"
...,...,...,...,...,...,...,...,...,...
222,West Bank,2460492,5860,"419,9",800.0,NaN,"145,2","31,67","3,92"
223,Western Sahara,273008,266000,"1,0",NaN,NaN,NaN,NaN,NaN
224,Yemen,21456188,527970,"40,6",800.0,"50,2","37,2","42,89","8,3"
225,Zambia,11502010,752614,"15,3",800.0,"80,6","8,2",41,"19,93"
226,Zimbabwe,12236805,390580,"31,3",1900.0,"90,7","26,8","28,01","21,84"

In [35]:
df3 = pd.merge(df, df2, on = 'Country', how='left')

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  192 non-null    object
 1   Region   192 non-null    object
 2   CEI      108 non-null    float64
 3   GCI      190 non-null    float64
 4   NCSI     167 non-null    float64
 5   DDL      152 non-null    float64
dtypes: float64(4), object(2)
memory usage: 9.1+ KB

In [54]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Country                     227 non-null    object
 1   Population                  227 non-null    int64
 2   Area (sq. mi.)              227 non-null    int64
 3   Pop. Density (per sq. mi.)  227 non-null    object
 4   GDP ($ per capita)          226 non-null    float64
 5   Agriculture                 209 non-null    object
 6   Phones (per 1000)           223 non-null    object
 7   Birthrate                   224 non-null    object
 8   Deathrate                   223 non-null    object
dtypes: float64(1), int64(2), object(6)
memory usage: 16.1+ KB

In [57]:
df['Country'] = df['Country'].str.strip()
df2['Country'] = df2['Country'].str.strip()

df['Country'] = df['Country'].str.upper()
df2['Country'] = df2['Country'].str.upper()

df['Country'] = df['Country'].replace('United States', 'USA')
df2['Country'] = df2['Country'].replace('United States', 'USA')

In [59]:

df3 = pd.merge(df, df2, on='Country', how='left')

In [60]:
df3

,Country,Region,CEI,GCI,NCSI,DDL,Population,Area (sq. mi.),Pop. Density (per sq. mi.),GDP ($ per capita),Agriculture,Phones (per 1000),Birthrate,Deathrate
0,AFGHANISTAN,Asia-Pasific,1.000,5.20,11.69,19.50,31056997.0,647500.0,"48,0",700.0,"36,0","3,2","46,6","20,34"
1,ALBANIA,Europe,0.566,64.32,62.34,48.74,3581655.0,28748.0,"124,6",4500.0,"86,5","71,2","15,11","5,22"
2,ALGERIA,Africa,0.721,33.95,33.77,42.81,32930091.0,2381740.0,"13,8",6000.0,"70,0","78,1","17,14","4,61"
3,ANDORRA,Europe,NaN,26.38,NaN,NaN,71201.0,468.0,"152,1",19000.0,"100,0","497,2","8,71","6,25"
4,ANGOLA,Africa,NaN,12.99,9.09,22.69,12127071.0,1246700.0,"9,7",1900.0,"42,0","7,8","45,11","24,2"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,VENEZUELA,Africa,0.807,27.06,28.57,43.14,25730435.0,912050.0,"28,2",4800.0,"93,4","140,1","18,71","4,92"
188,VIETNAM,Asia-Pasific,NaN,94.59,36.36,47.69,84402966.0,329560.0,"256,1",2500.0,"90,3","187,7","16,86","6,22"
189,YEMEN,Asia-Pasific,NaN,NaN,7.79,NaN,21456188.0,527970.0,"40,6",800.0,"50,2","37,2","42,89","8,3"
190,ZAMBIA,Africa,0.745,68.88,55.84,29.66,11502010.0,752614.0,"15,3",800.0,"80,6","8,2",41,"19,93"
191,ZIMBABWE,Africa,0.724,36.49,15.58,28.97,12236805.0,390580.0,"31,3",1900.0,"90,7","26,8","28,01","21,84"

Population =인구	Area (sq. mi.) =면적	Pop. Density (per sq. mi.) = 면적당 인구밀도	GDP ($ per capita)	Phones (per 1000) = 폰 보급	Birthrate	Deathrate

In [7]:
df.isna()

     Country  Region    CEI    GCI   NCSI    DDL
0      False   False  False  False  False  False
1      False   False  False  False  False  False
2      False   False  False  False  False  False
6      False   False  False  False  False  False
7      False   False  False  False  False  False
..       ...     ...    ...    ...    ...    ...
183    False   False  False  False  False  False
184    False   False  False  False  False  False
187    False   False  False  False  False  False
190    False   False  False  False  False  False
191    False   False  False  False  False  False

[104 rows x 6 columns]

In [4]:
df = df.dropna()

df

         Country         Region    CEI    GCI   NCSI    DDL
0    Afghanistan   Asia-Pasific  1.000   5.20  11.69  19.50
1        Albania         Europe  0.566  64.32  62.34  48.74
2        Algeria         Africa  0.721  33.95  33.77  42.81
6      Argentina  South America  0.514  50.12  63.64  60.43
7        Armenia         Europe  0.655  50.47  35.06  55.06
..           ...            ...    ...    ...    ...    ...
183      Uruguay  South America  0.348  75.15  59.74  63.86
184   Uzbekistan   Asia-Pasific  0.721  71.11  36.36  49.00
187    Venezuela         Africa  0.807  27.06  28.57  43.14
190       Zambia         Africa  0.745  68.88  55.84  29.66
191     Zimbabwe         Africa  0.724  36.49  15.58  28.97

[104 rows x 6 columns]

In [72]:
df3

,Country,Region,CEI,GCI,NCSI,DDL,Population,Area (sq. mi.),Pop. Density (per sq. mi.),GDP ($ per capita),Agriculture,Phones (per 1000),Birthrate,Deathrate
0,AFGHANISTAN,Asia-Pasific,1.000,5.20,11.69,19.50,31056997.0,647500.0,"48,0",700.0,"36,0","3,2","46,6","20,34"
1,ALBANIA,Europe,0.566,64.32,62.34,48.74,3581655.0,28748.0,"124,6",4500.0,"86,5","71,2","15,11","5,22"
2,ALGERIA,Africa,0.721,33.95,33.77,42.81,32930091.0,2381740.0,"13,8",6000.0,"70,0","78,1","17,14","4,61"
3,ANDORRA,Europe,NaN,26.38,NaN,NaN,71201.0,468.0,"152,1",19000.0,"100,0","497,2","8,71","6,25"
4,ANGOLA,Africa,NaN,12.99,9.09,22.69,12127071.0,1246700.0,"9,7",1900.0,"42,0","7,8","45,11","24,2"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,VENEZUELA,Africa,0.807,27.06,28.57,43.14,25730435.0,912050.0,"28,2",4800.0,"93,4","140,1","18,71","4,92"
188,VIETNAM,Asia-Pasific,NaN,94.59,36.36,47.69,84402966.0,329560.0,"256,1",2500.0,"90,3","187,7","16,86","6,22"
189,YEMEN,Asia-Pasific,NaN,NaN,7.79,NaN,21456188.0,527970.0,"40,6",800.0,"50,2","37,2","42,89","8,3"
190,ZAMBIA,Africa,0.745,68.88,55.84,29.66,11502010.0,752614.0,"15,3",800.0,"80,6","8,2",41,"19,93"
191,ZIMBABWE,Africa,0.724,36.49,15.58,28.97,12236805.0,390580.0,"31,3",1900.0,"90,7","26,8","28,01","21,84"

In [70]:
df_usa = df.loc[df['Country'] == 'ZIMBABWE']

In [71]:
df_usa

      Country  Region    CEI    GCI   NCSI    DDL
191  ZIMBABWE  Africa  0.724  36.49  15.58  28.97

Empty DataFrame
Columns: [Country, Region, CEI, GCI, NCSI, DDL]
Index: []

In [18]:
df.loc[df['Country'] == 'United States', 'Country'] = 'America'

In [83]:
df3.loc[df['Country'] == 'INDIA']

,Country,Region,CEI,GCI,NCSI,DDL,Population,Area (sq. mi.),Pop. Density (per sq. mi.),GDP ($ per capita),Agriculture,Phones (per 1000),Birthrate,Deathrate
75,INDIA,Asia-Pasific,0.597,97.5,59.74,40.02,1.095352e+09,3287590.0,"333,2",2900.0,"59,5","45,4","22,01","8,18"

In [84]:
df3.columns

Index(['Country', 'Region', 'CEI', 'GCI', 'NCSI', 'DDL', 'Population',
       'Area (sq. mi.)', 'Pop. Density (per sq. mi.)', 'GDP ($ per capita)',
       'Agriculture', 'Phones (per 1000)', 'Birthrate', 'Deathrate'],
      dtype='object')

In [90]:

df3.rename(columns={'Population':'인구', 'Pop. Density (per sq. mi.)': '면적당 인구밀도', 'Area (sq. mi.)' : '국가 면적(mi)','GDP ($ per capita)': 'GDP',  'Phones (per 1000)':'폰 보급률', 'Birthrate':'출생', 'Deathrate' : '사망'})

,Country,Region,CEI,GCI,NCSI,DDL,인구,국가 면적(mi),면적당 인구밀도,GDP,Agriculture,폰 보급률,출생,사망
0,AFGHANISTAN,Asia-Pasific,1.000,5.20,11.69,19.50,31056997.0,647500.0,"48,0",700.0,"36,0","3,2","46,6","20,34"
1,ALBANIA,Europe,0.566,64.32,62.34,48.74,3581655.0,28748.0,"124,6",4500.0,"86,5","71,2","15,11","5,22"
2,ALGERIA,Africa,0.721,33.95,33.77,42.81,32930091.0,2381740.0,"13,8",6000.0,"70,0","78,1","17,14","4,61"
3,ANDORRA,Europe,NaN,26.38,NaN,NaN,71201.0,468.0,"152,1",19000.0,"100,0","497,2","8,71","6,25"
4,ANGOLA,Africa,NaN,12.99,9.09,22.69,12127071.0,1246700.0,"9,7",1900.0,"42,0","7,8","45,11","24,2"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,VENEZUELA,Africa,0.807,27.06,28.57,43.14,25730435.0,912050.0,"28,2",4800.0,"93,4","140,1","18,71","4,92"
188,VIETNAM,Asia-Pasific,NaN,94.59,36.36,47.69,84402966.0,329560.0,"256,1",2500.0,"90,3","187,7","16,86","6,22"
189,YEMEN,Asia-Pasific,NaN,NaN,7.79,NaN,21456188.0,527970.0,"40,6",800.0,"50,2","37,2","42,89","8,3"
190,ZAMBIA,Africa,0.745,68.88,55.84,29.66,11502010.0,752614.0,"15,3",800.0,"80,6","8,2",41,"19,93"
191,ZIMBABWE,Africa,0.724,36.49,15.58,28.97,12236805.0,390580.0,"31,3",1900.0,"90,7","26,8","28,01","21,84"